@page "/"
@using BlazorWasmConnectivity.Components

<PageTitle>Index</PageTitle>

<div class="text-center mt-5">
    <Connectivity OnConnectionChanged="(x) => ConnectionChanged(x)" />
    <p>@Result</p>
</div>

@code
{
    public string Result { get; set; }

    private async Task ConnectionChanged(object obj)
    {
        var isOnline = (bool)obj;
        Result = isOnline ? "ONLINE" : "OFFLINE";
    }
}
